/* Styles for the footer */
.footer {
    display: flex;
    justify-content: center;
    padding: var(--spacing-medium) 0;
    background-color: var(--color-background-dark);
}

.footer__paragraph {
    display: block;
    color: var(--text-color-light);
    font-size: var(--font-size-base);

    /* Styles for small screens */
    @media screen and (max-width: 430px) {
        .footer__paragraph {
            font-size: small;
        }
    }