.footer {
    display: flex;
    justify-content: center;
    padding: var(--spacing-medium) 0;
    background-color: var(--color-background-dark);
}

.footer__paragraph {
    display: block;
    color: var(--text-color-light);
    font-size: var(--font-size-base);
}

.footer__link {
    color: var(--color-background-medium);
    text-decoration: none;
    transition: all 0.3s ease;
}

/* Styles for small screens */
@media screen and (max-width: 430px) {
    .footer__paragraph {
        font-size: small;
    }
}